@{
    ViewBag.Title = "Numbers";
    Layout = "_Layout";
}

<h2>Index</h2>
<div id="MenuBlock">
    <a asp-area="" asp-controller="Game" asp-action="Numbers" class="btn btn-success">Numbers</a>
    <a asp-area="" asp-controller="Game" asp-action="Icons" class="btn btn-success">Icons</a>
</div>

